#root {
  margin: 0 auto;
  text-align: center;
}

.custom-marker {
  background-color: transparent;
  border: none;
}
.custom-marker-inner {
  width: 5px;
  height: 5px;
  background-color: rgb(131, 100, 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.custom-marker-inner-hospital {
  width: 7px;
  height: 7px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.custom-marker-inner-attraction {
  width: 7px;
  height: 7px;
  background-color: orange;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}